/* holy grail */

.parent {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	font-family: tahoma;
}

header {
  text-align: center;
  grid-column: span 3;
  background-image: url("../images/boxes.jpg");
}

nav {
	padding: 30px;
	border-right: 1px solid #ddd;
	background-color: #ddd;
}

main {
	padding: 30px;
	font-size: 1.3em;
}

aside {
	padding: 30px;
	border-left: 1px solid #ddd;
	background-color: #ddd
}

footer {
	grid-column: span 3;
	border-top: 1px solid #ddd;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

span {
	font-style: italic;
}

/* photos */

#scamazon {
	height: 90px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#frown {
	height: 190px;
	margin-right: 40px;
	margin-bottom: 20px;
	float: left;
}

#van {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
	height: 296px;
}

/* extra */

a {
	text-decoration: underline;
	color: blue;
	font-weight: bold;
}

h1 {
    text-align: center;
	font-size: xx-large;
	font-weight: bold;
}

strong {
	font-weight: bold;
}

p {
	line-height: 2;
	font-size: large
}

ol {
	list-style-type: decimal
}

ul {
	list-style-type: disc
}

.delivery {
	font-weight: bold;
}

/* responsive styling */

/* tablet landscape */
@media screen and (max-width: 1200px) {
	nav {
		grid-column: span 3;
		border-right: 0;
		border-bottom: 1px solid #ddd;
		text-align: center;
	}
	nav p {
		display: inline-block;
		margin-right: 10px;
	}
	main {
		grid-column: span 2;
	}
	aside {
		padding: 16px;
	}
}

/* tablet portrait or phone */
@media screen and (max-width: 980px) {
	nav, main, aside {
		grid-column: span 3;
	}
	aside {
		border-left: 0;
		border-top: 1px solid #ddd;
		text-align: center;
	}
}

